annotated-types==0.7.0
asgiref==3.9.1
colorlog==6.9.0
Django==5.2.5
django-ninja==1.4.3
phonenumbers==9.0.11
pydantic==2.11.7
pydantic_core==2.33.2
python-dotenv==1.1.1
sqlparse==0.5.3
typed-api-response==1.0.0
typing-inspection==0.4.1
typing_extensions==4.14.1
street-ninja-common @ git+https://github.com/firstflush/street-ninja-common.git@v1.0.0